server:
  port: ${PORT:8080}

spring:
  application:
    name: pokemon-api
  cache:
    type: simple
  datasource:
    url: ${DATABASE_URL:jdbc:h2:mem:pokemondb}
    username: ${DATABASE_USERNAME:sa}
    password: ${DATABASE_PASSWORD:}
  h2:
    console:
      enabled: ${H2_CONSOLE_ENABLED:true}
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:create-drop}
    show-sql: ${JPA_SHOW_SQL:true}
    properties:
      hibernate:
        dialect: ${HIBERNATE_DIALECT:org.hibernate.dialect.H2Dialect}

logging:
  level:
    com.example.pokemon_api: ${LOG_LEVEL:DEBUG}